{% extends "base.html" %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card-semf">
                <h2 class="fw-bold mb-4" style="color: var(--laranja);">FICHA DE MATRÍCULA</h2>
                <form action="{{ url_for('inscricao') }}" method="POST">
                    <div class="mb-3">
                        <label class="form-label">Nome do Atleta</label>
                        <input type="text" name="nome" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">CPF</label>
                        <input type="text" name="cpf" class="form-control" required>
                    </div>
                    <div class="mb-4">
                        <label class="form-label">WhatsApp</label>
                        <input type="text" name="telefone" class="form-control" required>
                    </div>
                    <button type="submit" class="btn-semf w-100">SALVAR MATRÍCULA</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}