{% extends "base.html" %}
{% block content %}
<div class="container my-5">
    <div class="card-semf">
        <h2 class="fw-bold mb-4" style="color: var(--turquesa);">TRANSPARÊNCIA</h2>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                {% for g in gastos %}
                <tr>
                    <td>{{ g.data }}</td>
                    <td>{{ g.descricao }}</td>
                    <td class="text-danger fw-bold">- {{ g.valor }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}